<h2>Admin Page</h2>

<section class="users">
	<table>
		<colgroup>
			<col class="name">
			<col class="email">
		</colgroup>
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
			</tr>
		</tbody>
	</table>
</section>

<section class="comments">

</section>

<section class="requests">

</section>

<section class="parts">

</section>

<section class="songs">

</section>