<h2>Admin Page</h2>

<section class="users">
	<table>
		<colgroup>
			<col class="name">
			<col class="email">
		</colgroup>
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td><%= user.username %></td>
				<td><%= user.email %></td>
				<td><%= link_to("Edit", edit_user_path(user)) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</section>

<section class="comments">

</section>

<section class="requests">

</section>

<section class="parts">

</section>

<section class="songs">

</section>