<%= link_to("Backyard", backyard_path, :class => "backyard-link") %>

<section class="explanation-text">
	<article class="what-it-is">
		<p><strong>This is a musical experiment.</strong> The goal is to crowd-source the recording of an entire album, based on existing demo recordings of 15 amateur tracks.</p>
	</article>
	
	<article class="instructions">
		<h1>To Participate:</h1>
		<ol>
			<li><strong>Listen</strong> to the tracks</li>
			<li>Pick a <strong>song</strong> and <strong>part(s)</strong> to play</li>
			<li><strong>Sign up</strong> to record it</li>
		</ol>
	</article>
	
	<article class="how-it-works">
		<h1>How does it work?</h1>
		<p><strong>If the session goes well</strong>, it will be used in the final mix, and you'll be given a login and password for the "Member's Only" section of the site. There, you can hear the current mixes for all the works in progress, give feedback and participate in the making of the rest of the album.</p>
		<p><strong>Once the whole album is recorded</strong>, we will release it in digital and CD format. Everyone who plays on the album gets a spot in the liner notes and on the site for a short bio, picture, and url to your site. Also, you'll get appropriate royalties for your contribution to the album.</p>
		<p><strong>Thanks for checking it out! Hope to hear from you real soon.</strong></p>
	</article>
	
	<section class="player">
		<% if @songs && @songs.size != 0 %>
		<% @songs.each do |song| %>
			<p class="title"><%= song.name %></p>
		<% end %>
		<% end %>
	</section>
	
<section>
	