<section class="explanation-text">
	<article class="what-it-is">
		<p><strong>This is a musical experiment.</strong> The goal is to crowd-source the recording of an entire album, based on existing demo recordings of 15 amateur tracks.</p>
	</article>

	<article class="instructions">
		<h1>To Participate:</h1>
		<ol>
			<li><strong>Listen</strong> to the tracks</li>
			<li>Pick a <strong>song</strong> and <strong>part(s)</strong> to play</li>
			<li><strong>Sign up</strong> to record it</li>
		</ol>
	</article>

	<article class="how-it-works">
		<h1>How does it work?</h1>
		<p><strong>If the session goes well</strong>, it will be used in the final mix, and you'll be given a login and password for the "Member's Only" section of the site. There, you can hear the current mixes for all the works in progress, give feedback and participate in the making of the rest of the album.</p>
		<p><strong>Once the whole album is recorded</strong>, we will release it in digital and CD format. Everyone who plays on the album gets a spot in the liner notes and on the site for a short bio, picture, and url to your site. Also, you'll get appropriate royalties for your contribution to the album.</p>
		<p><strong>Thanks for checking it out! Hope to hear from you real soon.</strong></p>
	</article>

	<section id="mp3Player" data-folder="music" class="player">
	
		<audio id="mp3Player-player">
			<source id="mp3Player-mp3" src="" />
			<p class="no-html5">Your browser doesn\'t support HTML5 audio</p>
		</audio>

		<div id="mp3Player-controls" class="mp3Player-group playerControls">
			<div id="mp3Player-buttons-container">
				<button id="mp3Player-prev" class="mp3controls disabled">Prev</button>
				<div id="mp3Player-play-pause">
					<button id="mp3Player-play" class="mp3controls">Play</button>
					<button id="mp3Player-pause" class="mp3controls display-off">Pause</button>
				</div>
				<button id="mp3Player-next" class="mp3controls disabled">Next</button>
			</div>

			<div id="mp3Player-progress-container" class="mp3Player-group progressContainer">
				<span id="mp3Player-currentTime"></span>
				<div id="mp3Player-progress" class="loaded"></div>
				<span id="mp3Player-remainingTime"></span>
			</div>

			<div id="mp3Player-volume-container" class="mp3Player-group">
				<span id="mp3Player-min-volume"></span>
				<div id="mp3Player-volume"></div>
				<span id="mp3Player-max-volume"></span>
			</div>
		</div>
	
		<% if @songs && @songs.size != 0 %>
		<table id="mp3Player-table">
			<thead>
			<tr>
				<th>Song</th>
				<th>Part(s)</th>
			</tr>
			</thead>
			<tbody>
		<% @songs.each do |song| %>
		<% if song.active == true %>
			<tr class="song" data-file="<%= song.file %>">
				<td class="name"><%= song.name %></td>
				<td>
					<ul>
			<% if @assignments && @assignments.size != 0 %>
			<% @assignments.each do |assignment| %>
			<% if assignment.song_id == song.id && assignment.user_id != 1 %>
				<li class="part"><%= part(assignment.part_id) %></li>
			<% end %>
			<% end %>
			<% end %>
					</ul>
				</td>
			</tr>
		<% end %>
		<% end %>
		</table>
		<% end %>
		</tbody>
	</section>

	<section class="request form">
		<%= render "form_home" %>
		<button class="show-hide">Sign Up and Play</button>
	</section>
	
<section>